body {
    margin: 0;
    min-height: 100vh;
}

.ReactTags__tags {}

.ReactTags__tagInput {
    margin-top: 10px;
}

.ReactTags__tagInputField {
    padding: 10px;
    border-radius: 3px;
    border: 2px #1a6fc9 solid;
    width: 276px;
}

.ReactTags__selected {
    width: 300px;
}

.ReactTags__selected .ReactTags__tag {
    padding: 4px;
    border-radius: 3px;
    border: 2px #1a6fc9 solid;
    display: inline-block;
    margin: 4px;
}

.ReactTags__selected .ReactTags__remove {
    color: red;
    padding: 4px;
}